@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

:root{
  --primary-color: #000;
  --secondary-color: #fff;
  --backdrop-color: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
}

body {
  background-color: var(--secondary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

html{
  transition: all 0.5 ease-in;
}

html.dark{
  --primary-color: #fff;
  --secondary-color: #000;
}

html.dark{
  background-color: var(--primary-color) !important;
  color: var(--primary-color);
}

.toggle{
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
}

.toggle:focus{
  outline: none;
}

/* clock style */
.top_content{
  position: relative;
}

.switch{
  position: absolute;
  top: 20px;
  right: 20px;
}

.clock-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.clock{
  position: relative;
  width: 120px;
  height: 120px;
  background-image: linear-gradient(
    0deg,
    rgb(255, 225, 225) 23.8%,
    rgb(255, 195, 195) 92%
  );
  border-radius: 50%;
}

.needle{
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}

.needle.hour{
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute{
  transform: translate(-50%, -100%) rotate(0deg);
  height: 50px;
}

.needle.seconds{
  transform: translate(-50%, -100%) rotate(0deg);
  height: 50px;
  background-color: #e74c3c;
}

.center-point{
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after{
  content: '';
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time{
  font-size: 25px;
  color: var(--primary-color);
}

.date{
  color: #aaa;
  font-size: 9px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}

h1{
  color: var(--primary-color);
}

/* animated pics */
.vibe{
  display: flex;
  width: auto;
  height: 17rem;
  position: absolute;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}

.vibe.vibeR{
  right: 16rem;
  top: 10rem;
}

.vibeL {
  left: 14rem;
  bottom: 5rem;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/* music container styles */
.music_container{
  background-color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img_container{
  position: relative;
  width: 110px;
}

.img_container::after {
  content: '';
  background-color: var(--secondary-color);
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.img_container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    
    animation-play-state: paused;
}

.music_container.play .img_container img {
    animation-play-state: running;  
}
  

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: var(--secondary-color);
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}
  
.action-btn:focus {
  outline: 0;
}

.music_info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music_info h4 {
  margin: 0;
}

.music_container.play .music_info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress_container {
  background: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

#checkbox:checked + label .switch-ball{
  background-color: white;
  transform: translateX(24px);
  transition: transform 0.3s linear;
}

@media (max-width: 768px) {
  h1{
      font-size: large;
      text-align: center;
    }

  .toggle{
      padding: 4px 8px;
    }

  .img_container{
    position: relative;
    width: 80px;
  }
  
  .img_container::after {
    content: '';
    background-color: var(--secondary-color);
    height: 10px;
    width: 10px;
  }
  
  .img_container img {
      width: inherit;
      height: 80px;
  }

  .vibe{
      height: 10rem;
    }
}

